ion-card{
    text-align: center;
}

img{

    width: 50vh;
    height: 35vh;
    border-radius: 15rem;
    margin-bottom: 5vh;

}

ion-card{
    --ion-background-color: white;
}

ion-content{ --ion-background-color:#eedae2; }
