ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
    
}
 
.input-group {
    background: rgb(248, 212, 212);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.normal-label{
    color: black;
}

.ion-tolbar {
    background-color: rgb(250, 219, 216);
}

h1 { color: #d54d7b; font-family: 'Pacifico'; font-weight: normal; text-align: center; text-shadow: 0 1px 1px #fff; margin: auto;}

ion-card{
    margin: auto;
    --ion-background-color: white;
}

ion-content{ --ion-background-color:#eedae2; }

ion-label{
    margin-left: 2rem;
}

ion-button{
    margin: 2rem;
}
