.msg-btn{
    --padding-start: 0.5em; 
    --padding-end: 0.5em;
}

.message-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.final-col{
    padding-bottom: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
}