<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-header> </ion-header>

  <ion-card>
    <ion-card-header>
      <img src="{{foro.image}}">{{foro.user}}
      <div class="linea"></div>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{foro.Titulo}}</ion-card-title>
      <ion-card-subtitle>{{foro.Categoria}}</ion-card-subtitle>
      {{foro.Descripcion}}
    </ion-card-content>
  </ion-card>

  <ion-item *ngFor="let comentario of comentarios">
    <ion-avatar slot="start">
      <img src="{{comentario.image}}" />
    </ion-avatar>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{comentario.Usuario}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{comentario.Texto}}
      </ion-card-content>
<!--       <ion-card-footer>
        {{comentario.date}}
      </ion-card-footer> -->
    </ion-card>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea autosize maxRows="5" [(ngModel)]="mensaje" class="message-input" ></textarea>
      </ion-col>     
      <ion-col size="2" class="final-col">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="enviarMsj()"><ion-icon name="send-outline"></ion-icon></ion-button>
      </ion-col> 
    </ion-row>
  </ion-toolbar>
</ion-footer>