.msg-btn{
    --padding-start: 0.5em; 
    --padding-end: 0.5em;
}

.message-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.final-col{
    padding-bottom: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
}
ion-card-header{

}

ion-card-header img{
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
    vertical-align: middle;
    margin-right: 1rem;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
}

ion-card{
    --ion-background-color: white;
}

ion-content{ --ion-background-color:#e1beca; }