<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>TcaHealth</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/foro"><ion-icon name="newspaper-outline"></ion-icon> Foro </ion-item>
      <ion-item href="/medicos"><ion-icon name="medkit-outline"></ion-icon>Médicos</ion-item>
      <ion-item href="/recetario"><ion-icon name="restaurant-outline"></ion-icon>Recetario</ion-item>
      <ion-item href="/perfil"><ion-icon name="person-circle-outline"></ion-icon> Perfil</ion-item>
      <ion-item href="/citas"><ion-icon name="calendar-outline"></ion-icon> Citas</ion-item>
      <ion-item (click)="cerrarSesion()"><ion-icon name="log-out-outline"></ion-icon>Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>