<ion-content>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{medico.Nombre}} {{medico.Apellidos}}</ion-card-title>
      <ion-card-subtitle>{{medico.Especializacion}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Dirección: {{medico.Direccion}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valoraciones:</ion-card-title>
      <p id="nota">({{medico.Valoracion}}/5)</p><ngx-star-rating [(ngModel)]="medico.round" [disabled]="true"></ngx-star-rating>
      <p id="opiniones">{{medico.Valoraciones}} Opiniones</p>
    </ion-card-header>
    <ion-button (click)="valorarMedico()" ></ion-button>
  </ion-card>
</ion-content>
