#titulo{
    margin-top: 2rem;
}

#tarjeta{
    min-height: 15rem;
}

#upbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

ion-icon{
    margin-left: 1rem;
}