<ion-content padding>
  <app-menu-normal></app-menu-normal>
  <app-custom-header [varName]="nombrePag"></app-custom-header>
  <!-- <ion-button id="agregar" fill="clear" href="crearForo/"><ion-icon name="add-circle-outline"></ion-icon>
  </ion-button> -->
  <ion-list>
    <ion-list-header> Temas Recientes: </ion-list-header>

    <ion-item *ngFor="let foro of foros" (click)="verForo(foro)">
      <ion-avatar slot="start">
        <img src="{{foro.image}}" />
      </ion-avatar>
      <ion-label>
        <h1>{{foro.Titulo}}</h1>
        <h2>{{foro.user}}</h2>
        <h3>{{foro.Categoria}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>